<main id="resume">
    <table>
        <tr class="resume-category">
    <th colspan="2">Experience</th>
</tr>
{{#each experience}}
<tr>
    <td>{{yearBegin}} - {{yearEnd}}</td>
    <td class="jobTitle">
        {{job}}
        <ul>
            {{#each jobDuties}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </td>
</tr>
{{/each}}

<tr class="resume-category">
    <th colspan="2">Education</th>
</tr>
{{#each education}}
<tr>
    <td>{{yearGraduated}}</td>
    <td>
        <dl>
            <dt class="degreeTitle">{{degree}}, {{major}}</dt>
            <dd>{{school}}, {{schoolCity}}, {{schoolState}}</dd>
        </dl>
    </td>
</tr>
{{/each}}

<tr class="resume-category">
    <th>Skills</th>
    <td>
        <ul>
            {{#each skills}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </td>
</tr>
    </table>
</main>

<button type="button" id="edit-resume-button">Edit</button>

    <div id="modal-backdrop" class="hidden"></div>
    <div id="edit-resume-modal" class="hidden">

        <div class="modal-dialog">

            <div class="modal-header">
                <button type="button" id="modal-close-button">&times;</button>
                <h3>Edit your resume:</h3>
            </div>

            <div class="modal-body">
                <h2>Experience: </h2>
                <ol>
                {{#each experience}}
                    <li>
                        <label for="year-begin">From</label>
                        <input type="text" id="year-begin" value="{{yearBegin}}">
                        <label for="year-end">To</label>
                        <input type="text" id="year-end" value="{{yearEnd}}">
                        <label for="job">Job title</label>
                        <input type="text" id="job" value="{{job}}">

                        <label for="duty">Job's duties</label>
                        {{#each jobDuties}}
                            <input type="text" class="duty" value="{{this}}">
                        {{/each}}
                    </li>
                {{/each}}
                </ol>

                <h2>Education</h2>
                <ol>
                {{#each education}}
                    <li>
                        <label for="year-graduated">Year obtained degree</label>
                        <input type="text" id="year-graduated" value="{{yearGraduated}}">
                        <label for="degree">Degree</label>
                        <input type="text" id="degree" value="{{degree}}">
                        <label for="major">Major</label>
                        <input type="text" id="major" value="{{major}}">
                        <label for="school">School</label>
                        <input type="text" id="school" value="{{school}}">
                        <label for="school-city">City</label>
                        <input type="text" id="school-city" value="{{schoolCity}}">
                        <label for="school-state">State</label>
                        <input type="text" id="school-state" value="{{schoolState}}">
                    </li>
                {{/each}}
                </ol>

                <h2>Skills</h2>
                {{#each skills}}
                <input type="text" class="skills" value="{{this}}">
                {{/each}}
            </div>

            <div class="modal-footer">
                <button type="button" id="modal-accept-button">Accept</button>
            </div>

        </div>

    </div>